<!DOCTYPE html>
<html>

<!--

    CHECKING OUT OUR CODE? HRMMMM
    IT'S ANGULAR JS, SO IF YOU'RE A DECO1400 STUDENT YOU MIGHT 
    GLIMPSE A FEW THINGS THAT YOU CAN'T DO IN GENERIC HTML AND CSS
    ALSO THE CODE COULD BE A BIT CLEARNER AND BETTER ORGANISED BUT 
    HEY, IT WORKS AND WE NEEDED TO GET IT READY FOR PROJECT 1B                                             
                                         
                                                  
                          ..                      
           `          `,,.;;;:        :           
            .      ``:::,:::;;,      .;           
            ``    `,:,:::::::;;,    `.;           
           ...   `,:,.,::::::::;:  `,.;           
            .`,;:::,..,::::::::;;..``+            
            :,,,:,: .,:::...:::;;,``;             
             :,;::..,:::. .`,::;':.'              
             .;,:..,:::.``..::;;;#,'              
             `,:::::::::,,,,:::'+#';              
             `,. .`,..,.,.+++++#+;';              
             `.. .`,`,.....`.,,.++';              
             `,.;''''''';'...,....,,.             
              .+,,,,,,,,,.+++++#.,,,,             
              :.,````..,,,..::..+'+;              
              :.,.``.,,,,,,,.;.,..+'`             
              :.,,,,,,,,,,,,,,....++.             
              :.,,,,,,,,,,,,,,...,++`             
              ;.,,,,,,,,,,,,,,...':;;             
               '`.,,,,,..,,,,,,.,;,''             
               ;.,,,,,,..``.,,,`;:+';             
               ;`...,.......,,.'+;';.             
               '++#;,#+++++.,,.+.;''.             
                +'+;.++'+;.,,,,.,.;'`             
               `:'',,''+;.`.,,,.,`;;              
                :;;..''.,,,,,,.',;':              
                :'+`,;+::.,,,,,;''+               
                ,+.,`.''';,,,,:;+;';              
                 ;+::;,;'';.,,:;;,.;:             
                 +,++,,.''.,,,;''.,.;;            
                  +;;',;,;;,,,''.,,,.';           
                   ''';.,,;',:+.,,,,.';`          
                   `'..'.,,;.';,,,,.:;;           
                    ;''.,,,.;'.,,,.:;'            
                    ,+,....;':,..::':             
                     .'''+'''..;;;;+.             
                         :;;''''''':              
                        

-->

<head lang="en">
    <meta charset="UTF-8">
    <title>HTML Thor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?v1.1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,300,400,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>

<body data-ng-app="htmlthorApp" class="state-changing_wrapper state-majorLoading_wrapper" data-ng-controller="MainController">
    <!-- toggle .state-changing .state-majorLoading -->
    <!-- <section class="site-fixedMessages">
	</section> -->
    <div class="state-show-majorLoading siteBigLoading">
        <div class="loadingCircleLabel">
            <div class="loadingCircleLabel-animation circleAnimation">
                <div class="circleAnimation-inner--blue"></div>
                <!--<div class="circleAnimation-inner--white"></div>-->
            </div>
        </div>
        <h2>Validating... please wait</h2>
    </div>
    <div class="siteValidatingMessage">
        <div class="validatingMessage">
            <div class="validatingMessage-icon"></div>
            <div class="validatingMessage-text">loading...</div>
        </div>
    </div>
    <div class="clearfix">
        <nav class="site-sideNav floatLeft">
            <header class="header--main">
                <a href="#/">
                    <h2>HTML Thor</h2>
                </a>
            </header>
            <ul class="list-siteNav font--heading">
                <li data-ng-class="{ 'state-selected' : state.current.activeTab == 'home' }">
                    <a href="#/">Upload</a>
                </li>
                <!-- <li data-ng-class="{ 'state-selected' : state.current.activeTab == 'resources' }">
					<a href="#/resources">Resources</a>
				</li> -->
                <li data-ng-class="{ 'state-selected' : state.current.activeTab == 'about' }">
                    <a href="#/about">About</a>
                </li>
                <li class="siteNav-results" data-ng-class="{ 'state-selected' : state.current.activeTab == 'results' }">
                    <a href="#/results">Results</a>
                </li>
            </ul>
        </nav>
        <section class="site-mainBody fillSpace" ui-view="" autoscroll="true">
        </section>
    </div>
    <div style="display:none;">
        <section class="page page--home">
            <div class="siteMaxWidth sidePadding">
                <header class="main--header pushedDown-100 clearfix">
                    <div class="floatLeft">
                        <h2 class="title-strong">HTML Thor</h2>
                    </div>
                    <nav class="floatRight">
                        <ul class="list-mainNav list-floated list-marginSides font--heading clearfix">
                            <li class="state-selected">
                                <a href="javascript:void(0);">Upload</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Results</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">About</a>
                            </li>
                        </ul>
                    </nav>
                </header>
                <section class="mainSiteContainer">
                    This will be the main content section.
                </section>
            </div>
        </section>
    </div>
    <!-- Scripts -->
    <script src="/static/js/linq.min.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/js/ng-file-upload-all.min.js"></script>
    <!-- <script src="/static/js/jquery-ui.min.js"></script> -->
    <!-- <script src="/static/js/jquery.cookie.js"></script> -->
    <script src="/static/js/angular-ui-router.min.js"></script>
    <script src="/static/js/angular-route.min.js"></script>
    <script src="/static/js/angular-sanitize.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/controllers/controllerUpload.js"></script>
    <script src="/static/js/controllers/controllerResults.js"></script>
    <script src="/static/js/services/serviceResults.js"></script>
    <!-- END Scripts -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-63020985-1', 'auto');
      ga('send', 'pageview');

    </script>

</body>

</html>
