<section class="body--home maxWidthMedium">
	<section class="textBlurb">
		<h2>What is HTML Thor?</h2>
		<p>
			HTML Thor is a HTML 5 validator built to highlight syntax, semantic, best practice and deprecated errors within code.
		</p>
		<p>
			Upload your HTML files, directly input your code, or validate an online website.
		</p>
		<p>
			Our aim is to help newcomers to HTML 5 learn best practice techniques and to ensure that their code is 
			free of validation errors.
		</p>
		<p>
			HTML Thor was originally developed in 2013 by a team of UQ students. In 2015 Simon and Jonathan from the original 
			development team set out to re-develop the site to increase consistency and to take advantage 
			of their increased web development knowledge.
		</p>
	</section>
	<section class="textBlurb--current textBlurb marginTop-50">
		<h3>The Current Team</h3>
		<ul class="list-bio">
			<li>
				<div class="bio clearfix">
					<div class="bio-image floatLeft">
						<img title="Semantics? Oh yeah, I think I heard them on Spotify once." src="/static/images/team_simon.jpg" alt="Pretty cool guy" />
					</div>
					<div class="fillSpace">
						<h4>Simon Hales (<a href="http://simonhales.com">simonhales.com</a>)</h4>
						<h5>Designer and Front-end Developer</h5>
						<h6><a href="mailto:simonghales@gmail.com">simonghales@gmail.com</a></h6>
					</div>
				</div>
			</li>
			<li>
				<div class="bio clearfix">
					<div class="bio-image floatLeft">
						<img title="That's not a bug, that's a feature!" src="/static/images/team_jono.jpg" alt="Eh, he's alright" />
					</div>
					<div class="fillSpace">
						<h4>Jonathan Holland</h4>
						<h5>Developer</h5>
						<h6><a href="mailto:jonathan.holland8@gmail.com">jonathan.holland8@gmail.com</a></h6>
					</div>
				</div>
			</li>
		</ul>
	</section>
	<section class="textBlurb marginTop-50">
		<div class="aboutVideo">
			<iframe width="560" height="315" src="//www.youtube.com/embed/fZx0OrGSmVw" frameborder="0" allowfullscreen></iframe>
		</div>
		<p>
			HTML Thor was initially developed in 2013 at the University of Queensland as a student 
			based project for the course Design Computing Studio 3 (DECO3801).
		</p>
		<h3 class="marginTop-50">Original Development Team</h3>
		<ul class="list-devs">
			<li>
				<h4>Ameer Sabri</h4>
				<h5>Developer</h5>
			</li>
			<li>
				<h4>Chris Vanek</h4>
				<h5>Hosting and Servers</h5>
			</li>
			<li>
				<h4>Fatima Arafeh</h4>
				<h5>Project Manager and User Testing</h5>
				<a class="emailLink" href="mailto:fatimah.arafeh@gmail.com">fatimah.arafeh@gmail.com</a>
			</li>
			<li>
				<h4>Jonathan Holland</h4>
				<h5>Developer</h5>
				<a class="emailLink" href="mailto:jonathan.holland8@gmail.com">jonathan.holland8@gmail.com</a>
			</li>
			<li>
				<h4>Simon Hales</h4>
				<h5>Designer and Front-end Developer</h5>
				<a class="emailLink" href="mailto:simonghales@gmail.com">simonghales@gmail.com</a>
			</li>
			<li>
				<h4>Thorbjorn Kappel Hansen</h4>
				<h5>Developer and Inspiration</h5>
			</li>
		</ul>
	</section>
</section>