<section class="body--home maxWidthMedium">
	<section class="pageIntro">
		<h1>Validate your <strong>HTML</strong></h1>
		<p>
			HTML Thor validates your HTML, checking for syntax and semantic errors plus more!
		</p>
		<!-- <p>
			Proin aliquam sem non ante vehicula bibendum.
		</p> -->
	</section>
	<section class="siteWarning" style="display:none;">
		<h3>WARNING: SITE CURRENTLY UNDERGOING ACTIVE DEVELOPMENT. FILE UPLOAD MIGHT NOT BE WORKING. TRY AGAIN IN A FEW HOURS.</h3>
	</section>
	<form name="form--inputs">
		<section class="home-uploadSection clearfix">
			<div class="button-bigAction button_wrapper font--button floatLeft" data-active="true">
				<button id="button--uploadFiles" class="button" type="button">
					Upload HTML
				</button>
				<div style="height: 0px;width: 0px; overflow:hidden;">
					<input id="input--uploadFiles" type="file" name="userFiles[]" accept=".html,.php, .zip" multiple>Upload HTML</input>				
				</div>
			</div>
			<div class="home-uploadSection-text floatLeft">
				<!-- <p class="text--smallFaint">
					You can upload multiple .html and .php files as well as .zip folders. 
					You can also upload HTML 4 code
				</p> -->
				<p class="text--smallFaint">
					Select one or more html files to upload and validate
				</p>
			</div>
		</section>
		<!-- <section class="home-uploadSection state--unavailable"> 
			<div class="unavailableText">Coming soon™</div>
			<label for="input--home-url">Validate via <strong>URL</strong></label>
			<div class="home-url clearfix">
				<div class="home-url-input floatLeft">
					<input id="input--home-url" name="input--home-url" class="cleanInput fullWidth softPlaceholder" ng-model="userUrl" type="text" placeholder="Enter a url : http://www.example.com" />
				</div>
				<div class="home-url-button floatLeft">
					<div class="button-bigAction smaller button_wrapper font--button" data-ng-class="{'state--inactive' : !isValidUrl()}">
						<button class="button" type="button">
							Validate
						</button>
					</div>
				</div>
			</div>
		</section> -->
		<section class="home-uploadSection">
			<label for="input--home-direct">Validate via <strong>Direct Input</strong></label>
			<div class="home-url clearfix">
				<div class="home-url-input floatLeft">
					<textarea id="input--home-direct" data-ng-model="userDirect" class="height--medium cleanInput fullWidth noResize softPlaceholder" placeholder="Paste your HTML here"></textarea>
				</div>
				<div class="home-url-button floatLeft">
					<div class="button-bigAction smaller button_wrapper font--button" data-ng-class="{ 'state--inactive' : !isValidDirect() }">
						<button id="button--directInput" class="button" type="button">
							Validate
						</button>
					</div>
				</div>
			</div>
		</section>
		<section class="submissionError" data-ng-show="errorSubmitting">
			<p>Something went wrong whilst submitting. Please try again!</p>
		</section>
	</form>
	<section class="extraInfo">
		<h2 class="extraInfo-title">What are we checking for?</h2>
		<ul class="infoBlocksList">
			<li>
				<div class="infoBlock clearfix">
					<div class="infoBlock-blob colour--syntax floatLeft"></div>
					<div class="infoBlock-info fillSpace">
						<h3>Syntax Errors</h3>
						<p>
							A syntax error can be caused by something as simple as a typo! An example of a syntactic error in your code is forgetting to close a tag with a &gt; symbol or mistyping a letter, &lt;jead&gt; instead of &lt;head&gt; for example
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="infoBlock clearfix">
					<div class="infoBlock-blob colour--semantic floatLeft"></div>
					<div class="infoBlock-info fillSpace">
						<h3>Semantic Errors</h3>
						<p>
							Semantic errors are one step above 'best practice' errors. A semantic error involves using a tag in the wrong way, for example, using &lt;br&gt; tags to make new lines instead of using &lt;li&gt; tags.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="infoBlock clearfix">
					<div class="infoBlock-blob colour--practice floatLeft"></div>
					<div class="infoBlock-info fillSpace">
						<h3>Best Practice Errors</h3>
						<p>
							Don't overlook these errors! Caused when your code is syntactically correct, but it's been done in a very undesirable manner, best practice errors are important to attend to for clean code.
						</p>
					</div>
				</div>
			</li>
			<li>
				<div class="infoBlock clearfix">
					<div class="infoBlock-blob colour--deprecated floatLeft"></div>
					<div class="infoBlock-info fillSpace">
						<h3>Deprecated Errors</h3>
						<p>
							The deprecated tag error is caused when you use a tag or attribute that was once validly used in HTML but no longer is. An example of this is using a &lt;strike&gt; tag instead of using the new &lt;del&gt;
						</p>
					</div>
				</div>
			</li>
		</ul>
	</section>
</section>