<ul class="zipList">
					<li class="darkShade">
						<div class="zipItem clearfix error">
							<div class="zipItemIcon icon icon-file-code floatLeft"></div>
							<div class="zipInfo fillSpace">
								<div class="zipItemName">index.html</div>
								<div class="zipMessage">
									<h5>Broken Links: 5</h5>
									<p>
										This file contains links to other files that do not exist in 
										the uploaded .zip file.
									</p>
									<div class="clickToView">click to view</div>
								</div>
								<ul class="zipItemChildren"></ul>
							</div>
						</div>
					</li>
					<li class="darkShade">
						<div class="zipItem clearfix">
							<div class="zipItemIcon icon icon-file-code floatLeft"></div>
							<div class="zipInfo fillSpace">
								<div class="zipItemName">about.html</div>
								<div class="zipMessage">
									<h5>Broken Links: 5</h5>
									<p>
										This file contains links to other files that do not exist in 
										the uploaded .zip file.
									</p>
									<div class="">click to view</div>
								</div>
								<ul class="zipItemChildren"></ul>
							</div>
						</div>
					</li>
					<li class="darkShade">
						<div class="zipItem clearfix warning">
							<div class="zipItemIcon icon icon-file-image floatLeft"></div>
							<div class="zipInfo fillSpace">
								<div class="zipItemName">logo.png</div>
								<div class="zipMessage">
									<h5>File Location</h5>
									<p>
										Consider placing this file inside an <span>images/</span> 
										directory.
									</p>
								</div>
								<ul class="zipItemChildren"></ul>
							</div>
						</div>
					</li>
					<li class="darkShade">
						<div class="zipItem clearfix warning">
							<div class="zipItemIcon icon icon-file-code floatLeft"></div>
							<div class="zipInfo fillSpace">
								<div class="zipItemName">style.css</div>
								<div class="zipMessage">
									<h5>File Location</h5>
									<p>
										Consider placing this file inside a <span>css/</span> 
										directory.
									</p>
								</div>
								<ul class="zipItemChildren"></ul>
							</div>
						</div>
					</li>
					<li class="darkShade">
						<div class="zipItem clearfix warning">
							<div class="zipItemIcon icon icon-file-code floatLeft"></div>
							<div class="zipInfo fillSpace">
								<div class="zipItemName">main.js</div>
								<div class="zipMessage">
									<h5>File Location</h5>
									<p>
										Consider placing this file inside a <span>js/</span> 
										directory.
									</p>
								</div>
								<ul class="zipItemChildren"></ul>
							</div>
						</div>
					</li>
					<li class="darkShade">
						<div class="zipItem clearfix">
							<div class="zipItemIcon icon icon-doc floatLeft"></div>
							<div class="zipInfo fillSpace">
								<div class="zipItemName">statementofdelivery.pdf</div>
								<ul class="zipItemChildren"></ul>
							</div>
						</div>
					</li>
					<li class="darkShade">
						<div class="zipItem folder clearfix">
							<div class="zipItemIcon icon icon-folder-open-empty floatLeft"></div>
							<div class="zipInfo fillSpace">
								<div class="zipItemName">images</div>
								<ul class="zipItemChildren">
									<li class="lightShade">
										<div class="zipItem clearfix">
											<div class="zipItemIcon icon icon-file-image floatLeft"></div>
											<div class="zipInfo fillSpace">
												<div class="zipItemName">something.jpg</div>
												<ul class="zipItemChildren"></ul>
											</div>
										</div>
									</li>
									<li class="lightShade">
										<div class="zipItem folder clearfix">
											<div class="zipItemIcon icon icon-folder-open-empty floatLeft"></div>
											<div class="zipInfo fillSpace">
											<div class="zipItemName">folder</div>
												<ul class="zipItemChildren">
													<li class="darkShade">
														<div class="zipItem clearfix">
															<div class="zipItemIcon icon icon-doc floatLeft"></div>
															<div class="zipInfo fillSpace">
																<div class="zipItemName">statementofdelivery.pdf</div>
																<ul class="zipItemChildren"></ul>
															</div>
														</div>
													</li>
													<li class="darkShade">
														<div class="zipItem folder clearfix">
															<div class="zipItemIcon icon icon-folder-open-empty floatLeft"></div>
															<div class="zipInfo fillSpace">
															<div class="zipItemName">folder</div>
																<ul class="zipItemChildren">
																	<li class="lightShade">
																		<div class="zipItem clearfix">
																			<div class="zipItemIcon icon icon-doc floatLeft"></div>
																			<div class="zipInfo fillSpace">
																				<div class="zipItemName">statementofdelivery.pdf</div>
																				<ul class="zipItemChildren"></ul>
																			</div>
																		</div>
																	</li>
																	<li class="lightShade">
																		<div class="zipItem clearfix">
																			<div class="zipItemIcon icon icon-doc floatLeft"></div>
																			<div class="zipInfo fillSpace">
																				<div class="zipItemName">statementofdelivery.pdf</div>
																				<ul class="zipItemChildren"></ul>
																			</div>
																		</div>
																	</li>
																	<li class="lightShade">
																		<div class="zipItem clearfix">
																			<div class="zipItemIcon icon icon-doc floatLeft"></div>
																			<div class="zipInfo fillSpace">
																				<div class="zipItemName">statementofdelivery.pdf</div>
																				<ul class="zipItemChildren"></ul>
																			</div>
																		</div>
																	</li>
																</ul>
															</div>
														</div>
													</li>
													<li class="darkShade">
														<div class="zipItem clearfix">
															<div class="zipItemIcon icon icon-doc floatLeft"></div>
															<div class="zipInfo fillSpace">
																<div class="zipItemName">statementofdelivery.pdf</div>
																<ul class="zipItemChildren"></ul>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</li>
									<li class="lightShade">
										<div class="zipItem clearfix">
											<div class="zipItemIcon icon icon-doc floatLeft"></div>
											<div class="zipInfo fillSpace">
												<div class="zipItemName">statementofdelivery.pdf</div>
												<ul class="zipItemChildren"></ul>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</li>
				</ul>